{% load i18n static account %}


<nav class="navbar bg-body-tertiary navbar-dark bg-dark">
    <div class="container-fluid">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam velit ex eveniet voluptatibus vel deserunt
            nihil fugiat quasi ducimus beatae tempora, quisquam cum, quibusdam officiis. Pariatur alias molestiae
            inventore aliquid!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum placeat, soluta fuga totam nihil
            libero impedit beatae. Minus corporis quod perspiciatis in laborum autem est unde repudiandae deleniti
            blanditiis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolores itaque minima, tempore rem, assumenda
            quam recusandae quo suscipit pariatur velit, aliquam illum! Fugit maxime asperiores, placeat vero numquam
            veniam.
        </p>
    </div>
</nav>