.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    box-shadow: 0 0 7px white;
}

.btn-custom {
    padding: 0;
    border: none;
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
    height: 100%;
}

/*
   * Optional: Makes the sample page fill the window.
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
