{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var arrcoords = [[55.765326, 37.627735], [55.637366, 37.719745]];

        var myMap = new ymaps.Map('customMapPlaceRemember', {
            center: [55.76, 37.64],
            zoom: 9,
            controls: ['zoomControl', 'typeSelector', 'rulerControl']
        });

        for (i = 0; i < arrcoords.length; ++i) {
            pl = new ymaps.Placemark(arrcoords[i]);
            myMap.geoObjects.add(pl);
            console.log(arrcoords[i]);
        }
    }
</script>
<div class="col-md-12">
    <div id="customMapPlaceRemember" style="width: 600px; height: 400px"></div>
    <div class="card mb-3">
        <div class="card-header">
            <p>{% trans 'Автор' %}: <a href="#">{{ detail.auth }}</a></p>
        </div>
        <p></p>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <h5 class="card-title">{{ detail.title }}</h5>
                    <p class="card-text">{{ detail.review }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <p>{% trans 'Дата создания' %}: {{ detail.created_at|date:"Y.m.d" }}</p>
        </div>
    </div>
</div>
{% endblock %}